# Create a new .env file based .env.example.

OPENAI_API_KEY="your_api_key_here"
OPENAI_MODEL=gpt-5.4-2026-03-05
GEMINI_API_KEY="your_api_key_here"
AZURE_OPENAI_API_KEY="your_api_key_here"
AZURE_OPENAI_BASE_URL="https://your-resource.openai.azure.com/"
AZURE_OPENAI_API_VERSION="2025-04-01-preview"
